<div class="ui segments">
  {{#each bugs as |bug|}}

    <div class="ui {{if bug.resolved 'disabled secondary'}} segment" data-priority="{{bug.priority}}">
      <div class="ui middle aligned grid">
        <div class="ui two wide center aligned column">
          {{#unless bug.isNew}}
            <button class="ui circular {{if bug.resolved 'green basic' 'red basic'}} icon button" {{action 'resolveOrRevert' bug}} title="Resolve or Revert Bug">
            {{#if bug.resolved}}
            <i class="ui big animated {{if bug.resolved 'slideOutUp' 'slideInUp'}} grey left floated check icon" ></i>
            {{else}}
            <i class="ui big animated {{if bug.resolved 'slideOutUp' 'slideInUp'}} {{bug.priorityColor}} left floated bug icon" ></i>
            {{/if}}
            </button>
          {{/unless}}
        </div>
        <div class="ui seven wide column">
          <strong>{{bug.title}}</strong><br/> {{bug.description}}
        </div>
        <div class="ui four wide column">
          Priority: {{bug.priorityString}}<br/> Owner: {{bug.owner.name}}
        </div>
        <div class="ui three wide column">
          {{#unless bug.isNew}}
            <div class="ui buttons">
              {{#link-to "bugs.show" bug.id class="ui small compact icon button" }}<i class="eye icon"></i>{{/link-to}}
              <button class="ui small compact icon button" {{action 'deleteBug' bug}}><i class="trash icon"></i></button>
            </div>
          {{/unless}}
        </div>
      </div>
    </div>
  {{/each}}
  {{#unless bugs}}
    <div class="ui segment">No bugs! </div>
  {{/unless}}
</div>
