extend shared/layout 
block body
	.md-inline-form(ng-controller='TicketController  as mainCtrl' )
		.container
			.jumbotron.text-center
				h2 
					| Bounty-Web-Ticket-Management
					br
					h3
						b.colorBold
							|Tickets  - #{ticketList.length }
				
			// TCIKET LIST
		if(openedBy=="2")
			#ticket-list.row
				.col-sm-4.col-sm-offset-4
					table(border='1')
						thead
							tr
								th #Delete
								th Name
								th Status
								th Description
								th Due Date
								th #Edit
						tbody
							each ticket in ticketList
												tr
														td														
															label 
																<button ng-click='mainCtrl.deleteTicket("#{ticket.id}")'>x </button>
														td= ticket.summary
														td= ticket.status
														td= ticket.details
														td= ticket.dateofoccurance
														td  <button ng-click='mainCtrl.getCurrentTicketById("#{ticket.id}")'> update </button>
					br
					br
					p.text-center(ng-show='logCtrl.isProcessing')
						span.fa.fa-spinner.fa-spin.fa-3x
		else if(openedBy!="2")
			#ticket-list.row
				.col-sm-4.col-sm-offset-4
					table(border='1')
						thead
							tr
								th Name
								th Status
								th Description
								th Due Date
								th #Resolve
						tbody
							each ticket in ticketList
												tr
														//td=i+1
														td= ticket.summary
														td= ticket.status
														td= ticket.details
														td= ticket.dateofoccurance
														td  <button ng-click='mainCtrl.resolveTicket("#{ticket.id}")'>x </button>
					
					br
					br
					p.text-center(ng-show='logCtrl.isProcessing')
						span.fa.fa-spinner.fa-spin.fa-3x
						
						
			//FORM TO CREATE TODOS
		if(openedBy=="2")
			#ticket-form.row
				.col-sm-8.col-sm-offset-2.text-center
					form(name="ticketForm")
						.form-group
							label Assign a Product Engineer : 
							<select ng-model="ticket.assignedTo">
							<option value="all">all</option>
							<option ng-repeat="user in mainCtrl.users" ng-value="user._id">{{ user.firstname }}</option>
							</select>
							input.form-control.input-lg.text-center(rows="2" cols="20" type='text',hidden=true, placeholder='Problem summary', ng-model='ticket._id')
							br
							br
							input.form-control.input-lg.text-center(rows="2" cols="20" type='text', placeholder='Problem summary', ng-model='ticket.summary')
							br
							br
							input.form-control.input-lg.text-center(type='date', placeholder='Date Issue Occurred', ng-model='ticket.dateofoccurance')
							br
							br
							input.form-control.input-lg.text-center(type='text', placeholder='Time Issue Occurred', ng-model='ticket.timeofoccurance')							
							br
							br
							input.form-control.input-lg.text-center(type='text', placeholder='IP Address of Unit', ng-model='ticket.sshipaddress')
							br
							br
							input.form-control.input-lg.text-center(type='text', placeholder='SSH Port of Unit', ng-model='ticket.sshport')
							br
							br
							input.form-control.input-lg.text-center(type='text', placeholder='Hostname of Unit', ng-model='ticket.hostnameserial')
							br
							br
							textarea(rows="4" cols="50" placeholder='Technical Details', ng-model='ticket.details')
							textarea(rows="4" cols="50" placeholder='What troubleshooting was done?', ng-model='ticket.troubleshootingdetails')
							br
							br
							input.form-control.input-lg.text-center(type='file', placeholder='Log files (please zip if more than one)', ng-model='ticket.logfiles')
							br
							br
						button.btn.btn-primary.btn-lg(type='submit', ng-click='mainCtrl.createTicket(ticket)') Create Ticket
						button.btn.btn-primary.btn-lg(type='submit', ng-click='mainCtrl.updateTicket(ticket)') Update Ticket
		
		else if(openedBy!="2")
			#ticket-form.row
				.col-sm-8.col-sm-offset-2.text-center
					form(name="ticketForm")
						.form-group
							input.form-control.input-lg.text-center(rows="2" cols="20" type='text', placeholder='Problem summary', ng-model='ticket.summary')
							br
							br
							textarea(rows="4" cols="50" placeholder='What troubleshooting was done?', ng-model='ticket.troubleshootingdetails')
							br
							br
		br
		button.btn.btn-primary.btn-lg(type='submit', ng-click='mainCtrl.logout()') logout